<html>
  <head>
    <title>Home page</title>
  </head>
  <body>
    <h1>Insert Student Data:</h1>
    <form action="/" method="POST">
      <input type="text" name="sid" placeholder="Enter Id" /><br />
      <input type="text" name="sname" placeholder="Enter Name" /><br />
      <input type="text" name="sbranch" placeholder="Enter Branch" /><br />
      <input type="text" name="smarks" placeholder="Enter Marks" /><br />
      <button type="submit">Insert</button>
    </form>
    <a href={{ url_for('viewAll')}}> View Students</a>
  </body>
</html>
