<html>
  <head>
    <title>Home page</title>
  </head>
  <body>
    <h1>Student Details:</h1>

    <table border="1" cellpadding="5">
      <tr>
        <th>sId</th>
        <th>sName</th>
        <th>sBrach</th>
        <th>sMarks</th>
      </tr>

      {%for s in students%}
      <tr>
        <td>{{ s.sId}}</td>
        <td>{{ s.sName}}</td>
        <td>{{ s.sBranch}}</td>
        <td>{{ s.sMarks}}</td>
      </tr>
      {% endfor%}
    </table>

    <a href={{url_for('home')}}>Go Back</a>
  </body>
</html>
