* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}

header {
  height: 15%;
  background-color: cadetblue;
}

main {
  height: 75%;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 10px;
  column-gap: 10px;
}

.side-bar {
  width: 200px;
  background-color: white;
  background-color: azure;
  display: flex;
  justify-content: center;
}

.side-bar button {
  width: 130px;
  padding: 10px;
  border: 1px solid brown;
  border-radius: 4px;
  margin-top: 10px;

  background-color: bisque;
  font-weight: bold;
}

.admin-work-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: white;
  margin: 0% 30%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

form input {
  padding: 5px;
  border-radius: 3px;
  border: 0.5px solid black;
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

form button {
  width: 100%;

  background-color: blue;
  color: white;
  font-weight: bold;
  padding: 4px 5px;
  border: none;
  border-radius: 5px;
}

footer {
  padding: 10px 0px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  background-color: darkgrey;
}
