<html>
  <head>
    <title>Update</title>
  </head>
  <body>
    <h1>Update Data</h1>
    <form action="/updateData" method="POST">
      <input type="text" name="id" value="{{employee.id}}" /><br />
      <input type="text" name="name" value="{{employee.name}}" /><br />
      <input type="text" name="dept" value="{{employee.dept}}" /><br />
      <input type="text" name="salary" value="{{employee.salary}}" /><br />
      <button type="submit">update</button>
    </form>
  </body>
</html>
